.single-product {
  border-bottom: 2px solid gray;
  padding: 20px;
}

.single-product img {
  height: 150px;
  text-align: center;
}

.card {
  border-radius: 15px;
  position: relative;
  color: white;
  background-color: #3883df;
}

.button {
  color: white;
}

.card:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 1.5s;
  background-color: green;
  color: rgb(255, 71, 4);
}
